* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: #aaaaaa;
  font-size: 18px;
}

.column {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100vh;
  box-shadow: 0 0 15px 2px #444444;
  padding: 40px 40px 0;
  position: relative;
}

.section {
  margin-bottom: 40px;
}

.dialog {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.ticket-dialog {
  height: 300px;
  width: 600px;
}

.delete-dialog {
  height: 100px;
  width: 500px;
}

.list {
  list-style-type: none;
}

.task {
  border: 1px solid black;
  margin-bottom: -1px;
  border-radius: 4px;
  padding: 4px;
}

.task-line {
  display: flex
}

.task-status {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.task-satus-done {
  background-color: darkgreen;
}

.task-short-name {
  width: 400px;
  margin-right: 20px;
}

.task-datetime {
  width: 150px;
  margin-right: 20px;
}

.button-task-edit {
  margin-right: 20px;
}

.display-none {
  display: none;
}

.add-button {
  margin-bottom: 30px;
}

.delete-dialog-title {
  font-weight: bold;;
}

.text {
  margin-bottom: 20px;
  transition: all 1s ease;
}

.slideDown {
  transition: all 0.5s ease-in-out;
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.text:last-child {
  margin-bottom: 0;
}

.button {
  font-size: 20px;
  font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 40px;
  width: 160px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: #2639dd;
  transition: all 0.2s ease;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.button:hover {
  background-color: #3f4ed3;
}
.callback-chat__container {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  color: black;
  font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.callback-chat__popup {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px #000000;
  position: absolute;
  z-index: 999;
  right: 40px;
  bottom: 40px;
  width: 300px;
  transform: scale(1);
  opacity: 1;
  transition:
    transform .3s ease,
    opacity .3s ease;
}

.callback-chat__close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: color .15s ease;
}

.callback-chat__close-button:hover {
  color: red;
}

.callback-chat__title {
  font-size: 22px;
  margin-bottom: 7px;
}

.callback-chat__text {
  display: block;
  margin-bottom: 7px;
  border-radius: 6px;
  width: 100%;
}

.callback-chat__text:focus {
  outline: none;
}

.callback-chat__submit-button {
  display: block;
  font-size: 18px;
  line-height: 34px;
  border-radius: 6px;
  border: 1px solid black;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.callback-chat__submit-button:hover {
  background-color: #dddddd;
}

.callback-chat__open-button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  border-radius: 50px;
  background-color: red;
  transition:
    transform .3s ease,
    opacity .3s ease;
  cursor: pointer;
}

.callback-chat__open-button:hover {
  transform: scale(1.3);
}

.callbackchat-hidden-transform {
  opacity: 0;
  transform: scale(0);
  /* display: none; */
}

.button-like.button-like {
  background-color: darkred;
  position: relative;
  z-index: 1;
}

.heart {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWxJREFUeNrs1z9KA0EUx/HdJIaoRL1ALCxsvIaNN7A1Vga0jIWdeAYtRRtBIpbxD9opYmNhjqAgGJQUEYzR9fd0Fsbl7ezMJLMp4sKnm31fkp1hEz/wBnNlvP/w7zUBq3AKT0BP5BkuYAkK0tpRWIZLaIq1dM8JVKDIFoK/MrAOLQgUHmAeFuAxYe0rrIAvt6LRWsIQWVfQXb8bF64YDLFV5sJ3KYRvwp4vneN3yDvezC2Yiu7qTgqnKMsdp/sUwg0uXE8hfMad42n4cLixPmGG29Vkz2H4MO4ch5/6zUG0A7OqMFlzEN6Kdrgwne3zPkYbUNAJkxK89CHahjmuERf2xJun20P0Cxbj5qvCpNpDeFM1OylMti2itej71yZM7+l9gyhtzHzSXJ0wycKRRvQaxnRm6oY98SmOFdFbmNSdZxImOThgolcmUZtw+LXvSNE6jJvOsQmHNsQPuBGb+/2h+wuT+3lKA7i+BRgA/Up805zsZVkAAAAASUVORK5CYII=);
  animation: fly-3 .5s linear forwards;
  Width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fly-0 {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -150%);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -250%);
    opacity: 1;
  }
  75% {
    transform: translate(-50%, -350%);
    opacity: .5;
  }
  100% {
    transform: translate(-50%, -450%);
    opacity: 0;
  }
}

@keyframes fly-0 {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  25% {
    transform: translate(-150%, -150%);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -250%);
    opacity: 1;
  }
  75% {
    transform: translate(50%, -350%);
    opacity: .5;
  }
  100% {
    transform: translate(-50%, -450%);
    opacity: 0;
  }
}

@keyframes fly-1 {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -150%);
    opacity: 1;
  }
  50% {
    transform: translate(50%, -250%);
    opacity: 1;
  }
  75% {
    transform: translate(-150%, -350%);
    opacity: .5;
  }
  100% {
    transform: translate(-50%, -450%);
    opacity: 0;
  }
}

@keyframes fly-2 {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -150%);
    opacity: 1;
  }
  50% {
    transform: translate(-150%, -250%);
    opacity: 1;
  }
  75% {
    transform: translate(50%, -350%);
    opacity: .5;
  }
  100% {
    transform: translate(-50%, -450%);
    opacity: 0;
  }
}

@keyframes fly-3 {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  25% {
    transform: translate(50%, -150%);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -250%);
    opacity: 1;
  }
  75% {
    transform: translate(-150%, -350%);
    opacity: .5;
  }
  100% {
    transform: translate(-50%, -450%);
    opacity: 0;
  }
}


