.text {
  margin-bottom: 20px;
  transition: all 1s ease;
}

.slideDown {
  transition: all 0.5s ease-in-out;
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.text:last-child {
  margin-bottom: 0;
}

.button {
  font-size: 20px;
  font-family: Roboto, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 40px;
  width: 160px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  background-color: #2639dd;
  transition: all 0.2s ease;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.button:hover {
  background-color: #3f4ed3;
}